body {
    margin: 0;
    padding: 0;
    background-color: #000000;
    color: rgb(97, 89, 89);
    font-family: Arial, sans-serif;
}

.container {
    text-align: center;
    margin: 50px auto;
    padding: 20px;
    background-color: #343436bd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

h1 {
    background-color: #ffffff;
    padding: 10px;
    border-radius: 5px;
}

img {
    border-radius: 8px;
  }

p {
    background-color: #fafafa;
    padding: 10px;
    border-radius: 5px;
}
